# Node
node_modules
.DS_Store

# Build outputs
dist
dist-ssr
.output
.nitro
.vinxi
.tanstack
.vercel/output

# Env & local configs
*.local
.env
.env.*
.vscode
.idea

# Tools / caches
.cache
.wrangler
count.txt
todos.json

# Vercel
.vercel

# Local Netlify folder
.netlify
